.index-btn {
	width: 400rpx;
	height: 100rpx;
	border-radius: 50rpx;
	background-color: #ffbf00;
	text-align: center;
	line-height: 100rpx;
	margin: 20rpx 0rpx;
}

.input-box {
	width: 654rpx;
	height: 79rpx;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 54rpx;
	border-bottom: 2rpx solid #D6CEBD;
}

.input-box input {
	margin-left: 10rpx;
}