.index-btn {
	width: 400rpx;
	height: 100rpx;
	border-radius: 50rpx;
	background-color: #ffbf00;
	text-align: center;
	line-height: 100rpx;
	margin: 20rpx 0rpx;
}

.input-box {
	width: 400rpx;
	height: 100rpx;
	border-radius: 50rpx;
	margin: 20rpx 0rpx;
	background-color: #FFFFFF44;
	border: #FFFFFF88 solid 8rpx;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.input-box input {
	margin-left: 50rpx;
}